<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Reaction </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		var highScore = <%- scoresList.highScore %>;
  		var bestPlayerScore = <%- bestPlayerScore %>;
	</script>
	<script src="/JS/game2.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/CSS/main.css">
</head>
<body class="home game1">
<nav>
	<a href="/">Accueil</a>
	<div>
		<a href="/game1">Clicker</a>
		<a href="/game2"> Reaction</a>
		<a href="/game3">jeu3</a>
	</div>
	<a href="/logout">Déconnexion</a>
</nav>
<div>

	<div class="game">
		<h1> Reaction  </h1>
		<div>
			<div id="clickArea" class="clickArea"><p class="clique">Clique pour commencer !</p></div>
			<div class="infos">
				<p> Tableau des scores </p>
				<p id="bestGameScore"> Meilleur score au jeu : <%= scoresList.highScore %> </p>
				<p id="bestPlayerScore"> Mon meilleur score : <%= bestPlayerScore %> </p>
				<p id="result"> </p>
			</div>
		</div>
		<h1> Classement </h1>
		<div>
			<table style="color: white;">
				<tr>
					<th> Pseudo </th>
					<th> Score </th>
				<tr>
			<% Object.keys(scoresList.rankings).forEach(function(pseudo){%>
				<tr>
					<td><%= pseudo %></td>
					<% if(playerPseudo == pseudo){ %>
            			<td id="currentPlayer">
            		<% }else{ %>
            			<td>
            		<% } %>
            		<%= scoresList.rankings[pseudo] %></td>
        		</tr>
        	<%  }); %>
        	<% if(Object.keys(scoresList.rankings).indexOf(playerPseudo) == -1){%>
        		<tr>
        			<td> <%= playerPseudo %> </td>
        			<td id="currentPlayer"> 0 </td>
        		</tr>
        	<% } %>
			</table>
		</div>
	</div>
	<footer style="position: initial">
		<img src="/IMAGES/logo_nodejs.png" alt="Logo NodeJS">
		<p> <b>Projet Express</b> - Clément Hyaumet - Mathieu Termet - © 2019-2020 </p>
		<a href="https://github.com/dersyp/PROJETJAVASCRIPT" target="_blank">
			<img src="/IMAGES/logo_github.png" alt="Logo Github" ></a>
	</footer>
</body>
</html>
